body {
    background-color: darkblue;
}

form {
    font-size: 1.2rem;
    border-radius: 10px;
    padding: 3rem;
    padding-right: 20%;
    background-color: white;
}

.form-control.strength-input,
.password-features {
    width: 30%;
}

.alert-info.password-alert {
    width: 50%;
    margin: 5rem auto;
}